<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1048576" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <!--add name="dbconnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\NCC WEBSITE\App_Data\Database.mdf;User ID=sa;Password=password1;Trusted_Connection = True; MultipleActiveResultSets = true;Initial Catalog=Database;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    
	  <add name="dbconnection" connectionString="Data Source=DESKTOP-V09HI4P;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="ConnectionString" connectionString="Data Source=DESKTOP-V09HI4P;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <!--add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        
  </system.webServer>
</configuration>